{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    This is the cart page..Proceed to review your Items and place Order...  
{% endblock %}
{% block title %}
  Cart-CHOOSE Company PVT LTD
{% endblock %}
{% block content %}
{% if not cart_items %}

<div>
    <div class="text-center">
        <br>
        <h1 class="text-center my_title">
            Your Shopping Cart is empty!
        </h1>
        <br>
        <p class="text-center">
            
            Please Click<a href="{% url 'EAPP:allProductCategory' %}">Here</a>To Continue Shopping..
        
        </p>
    </div>
</div>
{% else %}
<div>
    <div class="text-center">
        <br>
            <h1 class="text-center  my_title">
                Your Shopping Cart
            </h1>
        <br>
    </div>
</div>
<!-- to show items selected -->

<div class="row mx-auto">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
        <table class="table my_custom_table">
            <thead class="my_custom_thead">
                <tr>
                    <th colspan="5">
                        <h4 style="background-color: #000000;text-align:center;color:darkgoldenrod;height: 2em;">Your items</h4>
                    </th>
                </tr>
            </thead>
   
            <tbody> <!-- to add cart items -->
                {% for cart_item in cart_items %}
                <tr>
                    <td>
                        <a href ="{{product.get_url}}"><img src="{{cart_item.product.image.url}}" alt="" style="width:100px;height:100px" class="float-left rounded custom_image"></a>
                    </td>
                    <td class="text-left">
                        {{cart_item.product.name}}
                        <br>
                        SKU:{{cart_item.product.id}}
                        <br>
                        Price: ₹{{cart_item.product.price}}
                        <br>
                        Qty:{{cart_item.quantity}} x ₹{{cart_item}}
                        <br>
                    </td>
                        <td>
                            ₹{{cart_item.sub_total}}
                        </td>
                        <!-- code for out of stock -->
                        {% if cart_item.quantity < cart_item.product.STOCK %}
                        <td>
                            <!-- &nbsp;is used to give space -->
                            <a href="{% url 'Cart_App:add_cart' cart_item.product.id %}" class="custom_a"><i class="fa-regular fa-plus"></i></a>&nbsp;
                            &nbsp;<a href="{% url 'Cart_App:cart_remove' cart_item.product.id %}" class="custom_a"><i class="fa-solid fa-minus"></i></a>
                            &nbsp;<a href="{% url 'Cart_App:full_remove' cart_item.product.id %}" class="custom_icon"><i class="fa-solid fa-trash"></i></a>
                        </td>
                        {% else %}
                        <td>
                            <!-- &nbsp;is used to give space -->
                            &nbsp;<a href="{% url 'Cart_App:cart_remove' cart_item.product.id %}" class="custom_a"><i class="fa-solid fa-minus"></i></a>
                            &nbsp;<a href="{% url 'Cart_App:full_remove' cart_item.product.id %}" class="custom_icon"><i class="fa-solid fa-trash"></i></a>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- for showing balance contents like cart checkout list etc -->
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
        <table class="table my_custom_table">
            <thead class="my_custom_thead">
                <th>
                   <h4 style="background-color: #000000;text-align:center; color:darkgoldenrod; height: 2em;">Checkout</h4>
                </th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <h5>Please review your shopping cart items before proceeding  with the order payment..</h5>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <h5>Your total is:<strong>{{ total }}</strong></h5>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- to set button -->
        <div class="mx-auto">
            <a href="{% url 'EAPP:allProductCategory' %}" class="btn btn-secondary btn-block my_custom_button">Continue Shopping</a>
            <a href="{% url 'EAPP:allProductCategory' %}" class="btn btn-secondary btn-block my_custom_button">Payment</a>
        </div>
        
    </div>
 </div>
 {% endif %}

{% endblock %}