<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">    
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="container">
      <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
          <li class="nav-item">
            <a class="nav-link" href="{% url 'EAPP:allProductCategory' %}">HOME</a>
          </li>
          <li class="nav-item dropdown {% if 'EAPP' in request.path %} active {% endif %}">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            SHOP
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'EAPP:allProductCategory' %}">ALL PRODUCTS</a></li>
              {% for catag in links %}
              <li><a class="dropdown-item" href="{{catag.get_url}}">{{catag.name}}</a></li>
              {% endfor %}
              
            </ul>
          </li>
          {% if item_count > 0 %}
          <li class="nav-item">
            <!-- app name:veiws name -->
            <a class="nav-link" href="{% url 'Cart_App:cart_detail' %}"><i class="fa-solid fa-cart-shopping"></i>({{item_count}})</a>
          </li>
          {% endif %}
        </ul>

        <form class="d-flex" action="{% url 'Search_App:SearchResult' %}" method="get">
           {%  csrf_token %}
          <input class="form-control me-2" type="search" placeholder="Search" name='q' aria-label="Search">
          <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
      </div>
      </div>
    </div>
  </nav> 





<!-- the code below is created first -->

<!-- <nav>
    <ul>
        <li><a href="{% url 'EAPP:allProductCategory'%}">ALL PRODUCTS </a></li>
            {% for catag in links %}
            <li><a href= "{{catag.get_url}}" >{{catag.name}}</a></li>
            {% endfor %}
        <li >Your Cart()</li>

    </ul>
</nav> -->