{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    to choose store where you can buy different items.......  
{% endblock %}
{% block title %}
    Search
{% endblock %}
{% block content %}
<div>
    <p class="text-center my_search_text"> You have searched for :<b>{{query}}</b></p>
</div>
<div class="container">
    <div class="row ">
        {% for product in products %}
        <div  class="my_bottom_margin col-9 col-sm-12  col-md-3 col-lg-4"><br>
           
            <div class="card text-center " style="min-width: 14rem">
                <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}"  style="height:300PX"></a>
           
            <div class="card-body">
                <h5>{{product.name}}</h5>
                <p class="card-text">{{product.price}}</p>
            </div>
            </div>
        </div>
        {% empty %}
            <div class="row mx-auto">
                <p class="text-align my_search_text">0 Results Found!</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}